{% extends '::base.html.twig' %}
{% block placeholder -%}
<div class="row">
    <div class="col-lg-12">
        
        <div class="clearfix">
            <h1 class="pull-left">Agregar cliente</h1>
           
        </div>
    </div>
</div>
{% endblock -%}
{% block body -%}
<div class="row">
<div class="col-lg-12">
<div class="main-box no-header clearfix">
<div class="main-box-body clearfix">

    {{ form_start(form) }}
    
   <h4 class="col-md-12">ESPOSA (Y/O) HIJOS</h4>    
    <ul  id="referenciasLaborales" data-prototype="{{ form_widget(form.referenciasLaborales.vars.prototype) | e }}">
        {% for hoja61 in form.referenciasLaborales %}
        <div class="col-md-12">
            {{ form_errors(hoja61) }}
            {{ form_widget(hoja61) }}
        </div> 
        {% endfor %}
    </ul>    
    <a href="#" class="col-md-4 col-md-offset-4 btn btn-info pull-left" id="add-hoja61">Agregar Empleo</a>
    {{ form_end(form) }}
 </div>
</div>
</div>
  <script>

     var emailCount = '{{ form.referenciasLaborales | length }}';

    jQuery(document).ready(function() {
        $('div.col-lg-6:nth-child(4)').hide()
        jQuery('#add-hoja61').click(function() {
            var emailList = jQuery('#referenciasLaborales');

            // graba la plantilla prototipo
            var newWidget = emailList.attr('data-prototype');
            // sustituye el "__name__" usado en el id y name del prototipo con un
            // número que es único en tus correos termina con el
            // atributo name viéndose como name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, emailCount);
            emailCount++;
            // crea un nuevo elemento lista y lo añade a la lista
            var newLi = jQuery('<div></div>').html(newWidget);
            newLi.appendTo(jQuery('#referenciasLaborales'));

            return false;
        });
      })
  </script>
{% endblock %}
