{% extends '::base.html.twig' %}

{% block body -%}
<style>
  .btn-primary{
    width: 200px!important;
  }
</style>
<div class="div col-md-12 main-box no-header clearfix">

    <h1 class="text-center"><strong>Referencias Laborales</strong> </h1>

    {{ form_start(form) }}
    
   <h4 class="col-md-12">ESPOSA (Y/O) HIJOS</h4>    
    <ul  id="hoja6_1" data-prototype="{{ form_widget(form.hoja6_1.vars.prototype) | e }}">
        {% for hoja61 in form.hoja6_1 %}
        <div class="col-md-12">
            {{ form_errors(hoja61) }}
            {{ form_widget(hoja61) }}
        </div> 
        {% endfor %}
    </ul>    
    <a href="#" class="col-md-4 col-md-offset-4 btn btn-info pull-left" id="add-hoja61">Agregar Empleo</a>
    {{ form_end(form) }}
</div>
 	<div class="col-md-12">
	<a href="{{path('hoja7')}}" class="btn btn-primary pull-right">
	<i class="fa fa-arrow-circle-right  fa-lg"></i> Siguiente
	</a>
	<a href="{{path('hoja5')}}" class="btn btn-primary pull-left">
	<i class="fa fa-arrow-circle-left  fa-lg"></i> Anterior
	</a>
  <script>

     var emailCount = '{{ form.hoja6_1 | length }}';

    jQuery(document).ready(function() {
        $('div.col-lg-6:nth-child(4)').hide()
        jQuery('#add-hoja61').click(function() {
            var emailList = jQuery('#hoja6_1');

            // graba la plantilla prototipo
            var newWidget = emailList.attr('data-prototype');
            // sustituye el "__name__" usado en el id y name del prototipo con un
            // número que es único en tus correos termina con el
            // atributo name viéndose como name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, emailCount);
            emailCount++;
            // crea un nuevo elemento lista y lo añade a la lista
            var newLi = jQuery('<div></div>').html(newWidget);
            newLi.appendTo(jQuery('#hoja6_1'));

            return false;
        });
      })
  </script>
{% endblock %}
