{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Hoja8_1</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ entity.url }}</td>
            </tr>
        </tbody>
    </table>

        <a  href="{{ path('hoja8_1') }}" class="btn btn-warning">Regresar</a>
        <a href="{{ path('hoja8_1_edit', { 'id': entity.id }) }}" class="btn btn-success">Editar</a>
    {{ form(delete_form) }}
{% endblock %}
