{% extends '::base.html.twig' %}
{% block placeholder -%}
<div class="row">
    <div class="col-lg-12">
        
        <div class="clearfix">
            <div class="class="pull-left"">
        <h1 >Tu tiempo</h1>
        <div class="reloj" id="Horas">00</div>
        <div class="reloj" id="Minutos">:00</div>
        <div class="reloj" id="Segundos">:00</div>
        <div class="reloj" id="Centesimas">:00</div>
    </div>
            <div class="pull-right top-page-ui">        

                <a href="{{ path('trayectorialab_solicitud', { 'solicitud': entity.solicitud }) }}" class="btn btn-success pull-right">
                    <i class="fa fa-plus-circle fa-lg"></i> Siguiente
                </a>
                <a href="{{ path('solicitud_inv')}}" class="btn btn-primary pull-right">
                    <i class="fa fa-plus-circle fa-lg"></i> Mis estudios
                </a>  
                <a href="{{ path('documentos_solicitud', { 'solicitud': entity.solicitud }) }}" class="btn btn-warning pull-right">
                    <i class="fa fa-plus-circle fa-lg"></i> Anterior
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock -%}
{% block body -%}
<div class="row">
<div class="col-lg-12">
<div class="main-box no-header clearfix">
<div class="main-box-body clearfix">
{{ form_start(edit_form, {'attr': {'class': 'form_transaccion_edit'}}) }}   
    <div class="row">
        {{ form_rest(edit_form) }}
    </div>
    <div class="row">
            <button class="btn btn-success" type="submit">Guardar</button>
            <button class="btn btn-default" type="reset">Limpiar</button>           
    </div>
    {{ form_end(edit_form) }}                     
 </div>
</div>
</div>
      
{% endblock %}
{% block js %}
    {{ render(url('solicitud_cron', { 'id': entity.solicitud })) }}
{% endblock %}