{% extends '::base.html.twig' %}

{% block body -%}
    <h1>referenciasLaborales list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Empresa</th>
                <th>Giro</th>
                <th>Telefono</th>
                <th>Domicilio</th>
                <th>Ciudad</th>
                <th>Fechaingreso</th>
                <th>Fechasalida</th>
                <th>Puestoinicial</th>
                <th>Puestofinal</th>
                <th>Sueldoinicial</th>
                <th>Sueldofinal</th>
                <th>Jefeinmediato</th>
                <th>Puesto</th>
                <th>Asistencia</th>
                <th>Responsabilidad</th>
                <th>Colaboracion</th>
                <th>Calidadtrabajo</th>
                <th>Actitudgeneral</th>
                <th>Tomadesiciones</th>
                <th>Iniciativa</th>
                <th>Honestidad</th>
                <th>Relacionjefes</th>
                <th>Relacioncompaneros</th>
                <th>Pertenecesindicato</th>
                <th>Cual</th>
                <th>Cargosindical</th>
                <th>Participacion</th>
                <th>Problemalaboral</th>
                <th>Motivoseparacion</th>
                <th>Personarecomendable</th>
                <th>Porque</th>
                <th>Datosproporcionados</th>
                <th>Puestoentrevistador</th>
                <th>Fechaentravista</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('referenciasLaborales_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.empresa }}</td>
                <td>{{ entity.giro }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.domicilio }}</td>
                <td>{{ entity.ciudad }}</td>
                <td>{% if entity.fechaIngreso %}{{ entity.fechaIngreso|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechasalida %}{{ entity.fechasalida|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.puestoInicial }}</td>
                <td>{{ entity.puestoFinal }}</td>
                <td>{{ entity.sueldoInicial }}</td>
                <td>{{ entity.sueldoFinal }}</td>
                <td>{{ entity.jefeInmediato }}</td>
                <td>{{ entity.puesto }}</td>
                <td>{{ entity.asistencia }}</td>
                <td>{{ entity.responsabilidad }}</td>
                <td>{{ entity.colaboracion }}</td>
                <td>{{ entity.calidadTrabajo }}</td>
                <td>{{ entity.actitudGeneral }}</td>
                <td>{{ entity.tomaDesiciones }}</td>
                <td>{{ entity.iniciativa }}</td>
                <td>{{ entity.honestidad }}</td>
                <td>{{ entity.relacionJefes }}</td>
                <td>{{ entity.relacionCompaneros }}</td>
                <td>{{ entity.perteneceSindicato }}</td>
                <td>{{ entity.cual }}</td>
                <td>{{ entity.cargoSindical }}</td>
                <td>{{ entity.participacion }}</td>
                <td>{{ entity.problemaLaboral }}</td>
                <td>{{ entity.motivoSeparacion }}</td>
                <td>{{ entity.personaRecomendable }}</td>
                <td>{{ entity.porque }}</td>
                <td>{{ entity.datosProporcionados }}</td>
                <td>{{ entity.puestoEntrevistador }}</td>
                <td>{% if entity.fechaEntravista %}{{ entity.fechaEntravista|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <a  href="{{ path('referenciasLaborales_show', { 'id': entity.id }) }}" class="table-link">
	<span class="fa-stack">
	<i class="fa fa-square fa-stack-2x"></i>
	<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
	</span>
</a>
                    <a href="{{ path('referenciasLaborales_edit', { 'id': entity.id }) }}" class="table-link">
	<span class="fa-stack">
	<i class="fa fa-square fa-stack-2x"></i>
	<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
	</span>
</a>
                    </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('referenciasLaborales_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
