{% extends '::base.html.twig' %}

{% block body -%}
    <h1>referenciaFamiliar list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Parentesco</th>
                <th>Domicilio</th>
                <th>Telefono</th>
                <th>Comentarios</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('referenciaFamiliar_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.parentesco }}</td>
                <td>{{ entity.domicilio }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.comentarios }}</td>
                <td>
                <a  href="{{ path('referenciaFamiliar_show', { 'id': entity.id }) }}" class="table-link">
	<span class="fa-stack">
	<i class="fa fa-square fa-stack-2x"></i>
	<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
	</span>
</a>
                    <a href="{{ path('referenciaFamiliar_edit', { 'id': entity.id }) }}" class="table-link">
	<span class="fa-stack">
	<i class="fa fa-square fa-stack-2x"></i>
	<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
	</span>
</a>
                    </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('referenciaFamiliar_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
