<header class="navbar" id="header-navbar">
    <div class="container">
        <a href="index.html" id="logo" class="navbar-brand">
            <img src="{{ asset('bundles/user/img/logo.jpg') }}" alt="" class="normal-logo logo-white">
            <img src="{{ asset('bundles/user/img/logo.jpg') }}" alt="" class="normal-logo logo-black">
            <img src="{{ asset('bundles/user/img/logo.jpg') }}" alt="" class="small-logo hidden-xs hidden-sm hidden">
        </a>
        <div class="clearfix">
            <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
                <ul class="nav navbar-nav pull-left">
                    <li>
                        <a class="btn" id="make-small-nav">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="nav-no-collapse pull-right" id="header-nav">
                <ul class="nav navbar-nav pull-right">                    
                    <li class="dropdown hidden-xs">
                        <a class="btn dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-warning"></i>
                        <span class="count">{{ avisos|length }}</span>
                        </a>
                        <ul class="dropdown-menu notifications-list">
                            <li class="pointer">
                                <div class="pointer-inner">
                                    <div class="arrow"></div>
                                </div>
                            </li>
                            {% if avisos|length > 0 %}                      
                                {% for entity in avisos %} 
                                    <li class="item">
                                        <a href="#">
                                            <i class="fa fa-comment"></i>
                                            <span class="content">{{entity.contenido|slice(0, 120)}}</span>
                                            <span class="time"><i class="fa fa-clock-o"></i>{% if entity.dateCreate %}{{ entity.dateCreate|date('Y-m-d H:i:s') }}{% endif %}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                                <li class="item-footer">
                                    <a href="{{path('alerts')}}">
                                        Ver todas
                                    </a>
                                </li>
                            {% else %}
                                <li class="item-header">Tienes 0 notificaciones</li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="dropdown hidden-xs">
                        <a class="btn dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="count">{{mensajes|length }} </span>
                        </a>
                        <ul class="dropdown-menu notifications-list messages-list">
                            <li class="pointer">
                                <div class="pointer-inner">
                                    <div class="arrow"></div>
                                </div>
                            </li>
                            {% if mensajes|length > 0 %}  
                                {% for entity in mensajes %}   
                                    <li class="item first-item">
                                        <a href="#">
                                            {% if entity.file %}
                                                     <img src="{{ asset(entity.file)}}" alt="" class="profile-img">
                                                {% else %}
                                                      <img src="{{asset('uploads/default-user.jpg')}}" alt="" class="profile-img">   
                                            {% endif %}
                                            <span class="content">
                                                <span class="content-headline">
                                                   {{entity.user_name}}
                                                </span>
                                                <span class="content-text">
                                                    {{entity.contenido|slice(0, 120)}}
                                                </span>
                                            </span>
                                            <span class="time"><i class="fa fa-clock-o"></i>{% if entity.date_create %}{{ entity.date_create|date('Y-m-d H:i:s') }}{% endif %}</span>
                                        </a>
                                    </li>
                                    <li class="item-footer">
                                        <a href="{{path('mensaje')}}">
                                            Ver todos
                                        </a>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <li class="item-header">Tienes 0 mensajes</li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="dropdown profile-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% if usuario.perfil %}
                                 <img src="{{ asset(usuario.perfil.file.file)}}" alt="">
                            {% else %}
                                  <img src="{{asset('uploads/default-user.jpg')}}" alt="">   
                        {% endif %}
                           
                            <span class="hidden-xs">{{usuario.userName}}</span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{path('perfil')}}"><i class="fa fa-user"></i>Profile</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i>Messages</a></li>
                            <li><a href="{{path('logout')}}"><i class="fa fa-power-off"></i>Logout</a></li>
                        </ul>
                    </li>
                    <li class="hidden-xxs">
                        <a class="btn">
                            <i class="fa fa-power-off"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div id="page-wrapper" class="container">
<div class="row">
<div id="nav-col">
<section id="col-left" class="col-left-nano">
<div id="col-left-inner" class="col-left-nano-content">
    <div id="user-left-box" class="clearfix hidden-sm hidden-xs">
       {% if usuario.perfil %}
                <img src="{{ asset(usuario.perfil.file.file)}}" alt="">
            {% else %}
                <img src="" alt="">   
        {% endif %}
        <div class="user-box">
            <span class="name">
                Bienvenido(a)<br>
                {{usuario.userName}}
            </span>
            <span class="status">
                <i class="fa fa-circle"></i> Online
            </span>
        </div>
    </div>