{% extends'::base.html.twig' %}
{% block placeholder -%}
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active"><span>Perfil</span></li>
        </ol>        
        <div class="clearfix">
            <h1 class="pull-left">Perfil</h1>            
        </div>
        
    </div>
</div>
{% endblock -%}
{% block body -%}
<div class="row">
<div class="col-lg-12">
<div class="main-box no-header clearfix">
<div class="main-box-body clearfix">
<div class="table-responsive">
<table class="table user-list table-hover">
        <tbody>           
            <tr>
                <th>Foto</th>
                <td> <img src="{{ asset(entity.file.file)}}" alt=""></td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ entity.telephone }}</td>
            </tr>
        </tbody>
    </table>

        <a  href="{{ path('perfil') }}" class="btn btn-warning">Regresar</a>
        <a href="{{ path('perfil_edit', { 'id': entity.id }) }}" class="btn btn-success">Editar</a>
    {{ form(delete_form) }}
{% endblock %}
