{% extends '::base.html.twig' %}
{% block placeholder -%}
<div class="row">
    <div class="col-lg-12">
        
        <div class="clearfix">
            <h1 class="pull-left">Agregar cliente</h1>
           
        </div>
    </div>
</div>
{% endblock -%}
{% block body -%}
<div class="row">
<div class="col-lg-12">
<div class="main-box no-header clearfix">
<div class="main-box-body clearfix">
<h1 class="text-center"><strong>Marco Familiar </strong></h1>

{{ form_start(form) }}
<div class="col-md-12 main-box no-header clearfix">

    <h4 class="col-md-12">ESPOSA (Y/O) HIJOS</h4>    
    <ul  id="personasDomicilio" data-prototype="{{ form_widget(form.personasDomicilio.vars.prototype) | e }}">
        {% for MarcoFamiliar2 in form.personasDomicilio %}
        <div class="col-md-12">
            {{ form_errors(MarcoFamiliar2) }}
            {{ form_widget(MarcoFamiliar2) }}
        </div> 
        {% endfor %}
    </ul>    
    <a href="#" class="col-md-4 col-md-offset-4 btn btn-info pull-left" id="add-MarcoFamiliar2">Agregar Hijos</a>

    <h4 class="col-md-12">PERSONAS QUE VIVEN EN EL DOMICILIO</h4>
    <ul  id="marcoFamiliar" data-prototype="{{ form_widget(form.marcoFamiliar.vars.prototype) | e }}">
        {% for MarcoFamiliar3 in form.marcoFamiliar %}
        <div class="col-md-12">
            {{ form_errors(MarcoFamiliar3) }}
            {{ form_widget(MarcoFamiliar3) }}
        </div> 
        {% endfor %}
    </ul>    
    <a href="#" class="col-md-4 col-md-offset-4 btn btn-info pull-left" id="add-MarcoFamiliar3">Agregar Personas</a>

    <h4 class="col-md-12">DEPENDIENTES ECONOMICOS </h4>
    <ul  id="MarcoFamiliar_4" data-prototype="{{ form_widget(form.MarcoFamiliar_4.vars.prototype) | e }}">
        {% for MarcoFamiliar4 in form.MarcoFamiliar_4 %}
        <div class="col-md-12">
            {{ form_errors(MarcoFamiliar4) }}
            {{ form_widget(MarcoFamiliar4) }}
        </div> 
        {% endfor %}
    </ul> 
    <a href="#" class="col-md-4 col-md-offset-4 btn btn-info pull-left" id="add-MarcoFamiliar4">Agregar Dependientes</a>

    <h4 class="col-md-12">PADRES Y HERMANOS </h4>
    <ul  id="DependientesEconomicos" data-prototype="{{ form_widget(form.DependientesEconomicos.vars.prototype) | e }}">
        {% for MarcoFamiliar in form.DependientesEconomicos %}
        <div class="col-md-12">
            {{ form_errors(MarcoFamiliar) }}
            {{ form_widget(MarcoFamiliar) }}
        </div> 
        {% endfor %}
    </ul>    

    <a href="#" class="col-md-4 col-md-offset-4 btn btn-info pull-left" id="add-MarcoFamiliar">Agregar Padres/Hermanos</a>

    <div class="col-md-12" form-group ="">
      <div class="input-group">
        <span class="input-group-btn"><label for="" class="btn btn-primary required">observaciones</label>
        </span>
        {{form_widget(form.observaciones,{'attr':{'class':'form-control'}})}}

    </div>
    <span class="help-block"><i class="icon-remove-sign"></i></span>
</div>
</div>
{{ form_end(form) }}
 </div>
</div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
$('#content-wrapper > div:nth-child(1) > div:nth-child(1) > form:nth-child(4) > div:nth-child(3)').hide()
$('#content-wrapper > div:nth-child(1) > div:nth-child(1) > form:nth-child(4) > div:nth-child(4)').hide()
$('#content-wrapper > div:nth-child(1) > div:nth-child(1) > form:nth-child(4) > div:nth-child(5)').hide()
$('#content-wrapper > div:nth-child(1) > div:nth-child(1) > form:nth-child(4) > div:nth-child(6)').hide()
    // realiza un seguimiento de cuántos campos de correo electrónico se han pintado
    var emailCount = '{{ form.DependientesEconomicos | length }}';
    var emailCount2 = '{{ form.personasDomicilio | length }}';
    var emailCount3 = '{{ form.marcoFamiliar | length }}';
    var emailCount4 = '{{ form.MarcoFamiliar_4 | length }}';

    jQuery(document).ready(function() {
        jQuery('#add-MarcoFamiliar').click(function() {
            var emailList = jQuery('#DependientesEconomicos');

            // graba la plantilla prototipo
            var newWidget = emailList.attr('data-prototype');
            // sustituye el "__name__" usado en el id y name del prototipo con un
            // número que es único en tus correos termina con el
            // atributo name viéndose como name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, emailCount);
            emailCount++;
            // crea un nuevo elemento lista y lo añade a la lista
            var newLi = jQuery('<div class="row"></div>').html(newWidget);
            newLi.appendTo(jQuery('#DependientesEconomicos'));

            return false;
        });
        jQuery('#add-MarcoFamiliar2').click(function() {
            var emailList1 = jQuery('#personasDomicilio');

            // graba la plantilla prototipo
            var newWidget1 = emailList1.attr('data-prototype');
            // sustituye el "__name__" usado en el id y name del prototipo con un
            // número que es único en tus correos termina con el
            // atributo name viéndose como name="contact[emails][2]"
            newWidget1 = newWidget1.replace(/__name__/g, emailCount2);
            emailCount2++;
            // crea un nuevo elemento lista y lo añade a la lista
            var newLi1 = jQuery('<div class="row"></div>').html(newWidget1);
            newLi1.appendTo(jQuery('#personasDomicilio'));

            return false;
        });


        jQuery('#add-MarcoFamiliar3').click(function() {
            var emailList2 = jQuery('#marcoFamiliar');

            // graba la plantilla prototipo
            var newWidget2 = emailList2.attr('data-prototype');
            // sustituye el "__name__" usado en el id y name del prototipo con un
            // número que es único en tus correos termina con el
            // atributo name viéndose como name="contact[emails][2]"
            newWidget2 = newWidget2.replace(/__name__/g, emailCount3);
            emailCount3++;
            // crea un nuevo elemento lista y lo añade a la lista
            var newLi2 = jQuery('<div class="row"></div>').html(newWidget2);
            newLi2.appendTo(jQuery('#marcoFamiliar'));

            return false;
        });

        jQuery('#add-MarcoFamiliar4').click(function() {
            var emailList3 = jQuery('#MarcoFamiliar_4');

            // graba la plantilla prototipo
            var newWidget3 = emailList3.attr('data-prototype');
            // sustituye el "__name__" usado en el id y name del prototipo con un
            // número que es único en tus correos termina con el
            // atributo name viéndose como name="contact[emails][2]"
            newWidget3 = newWidget3.replace(/__name__/g, emailCount4);
            emailCount4++;
            // crea un nuevo elemento lista y lo añade a la lista
            var newLi3 = jQuery('<div class="row"></div>').html(newWidget3);
            newLi3.appendTo(jQuery('#MarcoFamiliar_4'));

            return false;
        });



    })
</script>
{% endblock %}