{% extends '::base.html.twig' %}

{% block body -%}
    <h1>otrosServicios list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cablemas</th>
                <th>Mastv</th>
                <th>Antenaparabolica</th>
                <th>Sky</th>
                <th>Otros</th>
                <th>Domestico</th>
                <th>Jardinero</th>
                <th>Chofer</th>
                <th>Vigilancia</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('otrosServicios_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.cablemas }}</td>
                <td>{{ entity.mastv }}</td>
                <td>{{ entity.antenaParabolica }}</td>
                <td>{{ entity.sky }}</td>
                <td>{{ entity.otros }}</td>
                <td>{{ entity.domestico }}</td>
                <td>{{ entity.jardinero }}</td>
                <td>{{ entity.chofer }}</td>
                <td>{{ entity.vigilancia }}</td>
                <td>
                <a  href="{{ path('otrosServicios_show', { 'id': entity.id }) }}" class="table-link">
	<span class="fa-stack">
	<i class="fa fa-square fa-stack-2x"></i>
	<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
	</span>
</a>
                    <a href="{{ path('otrosServicios_edit', { 'id': entity.id }) }}" class="table-link">
	<span class="fa-stack">
	<i class="fa fa-square fa-stack-2x"></i>
	<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
	</span>
</a>
                    </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('otrosServicios_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
