{% extends '::base.html.twig' %}

{% block body -%}
    <h1>anteriorEmpleo</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Empresa</th>
                <td>{{ entity.empresa }}</td>
            </tr>
            <tr>
                <th>Sucursal</th>
                <td>{{ entity.sucursal }}</td>
            </tr>
            <tr>
                <th>Domicilio</th>
                <td>{{ entity.domicilio }}</td>
            </tr>
            <tr>
                <th>Jefeinmediato</th>
                <td>{{ entity.jefeInmediato }}</td>
            </tr>
            <tr>
                <th>Fechadeinicio</th>
                <td>{{ entity.fechaDeInicio|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechadetermino</th>
                <td>{{ entity.fechaDeTermino|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Puestoinicial</th>
                <td>{{ entity.puestoInicial }}</td>
            </tr>
            <tr>
                <th>Puestofinal</th>
                <td>{{ entity.puestoFinal }}</td>
            </tr>
            <tr>
                <th>Motivodesalida</th>
                <td>{{ entity.motivoDeSalida }}</td>
            </tr>
            <tr>
                <th>Datosproporcionadospor</th>
                <td>{{ entity.datosProporcionadosPor }}</td>
            </tr>
            <tr>
                <th>Puesto</th>
                <td>{{ entity.puesto }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
            <tr>
                <th>Puestoo</th>
                <td>{{ entity.puestoo }}</td>
            </tr>
            <tr>
                <th>Sueldoinicial</th>
                <td>{{ entity.sueldoInicial }}</td>
            </tr>
            <tr>
                <th>Sueldofinal</th>
                <td>{{ entity.sueldoFinal }}</td>
            </tr>
            <tr>
                <th>Exelente</th>
                <td>{{ entity.exelente }}</td>
            </tr>
            <tr>
                <th>Muybueno</th>
                <td>{{ entity.muyBueno }}</td>
            </tr>
            <tr>
                <th>Bueno</th>
                <td>{{ entity.bueno }}</td>
            </tr>
            <tr>
                <th>Regular</th>
                <td>{{ entity.regular }}</td>
            </tr>
            <tr>
                <th>Deficiente</th>
                <td>{{ entity.deficiente }}</td>
            </tr>
            <tr>
                <th>Asistencia</th>
                <td>{{ entity.asistencia }}</td>
            </tr>
            <tr>
                <th>Respensabilidad</th>
                <td>{{ entity.respensabilidad }}</td>
            </tr>
            <tr>
                <th>Desempenio</th>
                <td>{{ entity.desempenio }}</td>
            </tr>
            <tr>
                <th>Relacionjefescompa</th>
                <td>{{ entity.relacionJefesCompa }}</td>
            </tr>
            <tr>
                <th>Trabajovajoprecion</th>
                <td>{{ entity.trabajoVajoPrecion }}</td>
            </tr>
            <tr>
                <th>Apegoapoliticas</th>
                <td>{{ entity.apegoAPoliticas }}</td>
            </tr>
            <tr>
                <th>Desempenioproporcionado</th>
                <td>{{ entity.desempenioProporcionado }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ entity.observaciones }}</td>
            </tr>
        </tbody>
    </table>

        <a  href="{{ path('anteriorempleo') }}" class="btn btn-warning">Regresar</a>
        <a href="{{ path('anteriorempleo_edit', { 'id': entity.id }) }}" class="btn btn-success">Editar</a>
    {{ form(delete_form) }}
{% endblock %}
