{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Bienes</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Urbana</th>
                <td>{{ entity.urbana }}</td>
            </tr>
            <tr>
                <th>Centrica</th>
                <td>{{ entity.centrica }}</td>
            </tr>
            <tr>
                <th>Periferia</th>
                <td>{{ entity.periferia }}</td>
            </tr>
            <tr>
                <th>Telefonopublico</th>
                <td>{{ entity.telefonoPublico }}</td>
            </tr>
            <tr>
                <th>Viasdeacceso</th>
                <td>{{ entity.viasDeAcceso }}</td>
            </tr>
            <tr>
                <th>Agua</th>
                <td>{{ entity.agua }}</td>
            </tr>
            <tr>
                <th>Alumbrado</th>
                <td>{{ entity.alumbrado }}</td>
            </tr>
            <tr>
                <th>Centroscomerciales</th>
                <td>{{ entity.centrosComerciales }}</td>
            </tr>
            <tr>
                <th>Drenaje</th>
                <td>{{ entity.drenaje }}</td>
            </tr>
            <tr>
                <th>Mercados</th>
                <td>{{ entity.mercados }}</td>
            </tr>
            <tr>
                <th>Pavimentacion</th>
                <td>{{ entity.pavimentacion }}</td>
            </tr>
            <tr>
                <th>Escuelas</th>
                <td>{{ entity.escuelas }}</td>
            </tr>
            <tr>
                <th>Banqueta</th>
                <td>{{ entity.banqueta }}</td>
            </tr>
            <tr>
                <th>Areasverdes</th>
                <td>{{ entity.areasVerdes }}</td>
            </tr>
            <tr>
                <th>Transporte</th>
                <td>{{ entity.transporte }}</td>
            </tr>
            <tr>
                <th>Deportivos</th>
                <td>{{ entity.deportivos }}</td>
            </tr>
            <tr>
                <th>Casa</th>
                <td>{{ entity.casa }}</td>
            </tr>
            <tr>
                <th>Departamento</th>
                <td>{{ entity.departamento }}</td>
            </tr>
            <tr>
                <th>Condominio</th>
                <td>{{ entity.condominio }}</td>
            </tr>
            <tr>
                <th>Unidadhabitacional</th>
                <td>{{ entity.unidadHabitacional }}</td>
            </tr>
            <tr>
                <th>Viviendapopular</th>
                <td>{{ entity.viviendaPopular }}</td>
            </tr>
            <tr>
                <th>Propia</th>
                <td>{{ entity.propia }}</td>
            </tr>
            <tr>
                <th>Familiares</th>
                <td>{{ entity.familiares }}</td>
            </tr>
            <tr>
                <th>Hipotecada</th>
                <td>{{ entity.hipotecada }}</td>
            </tr>
            <tr>
                <th>Prestada</th>
                <td>{{ entity.prestada }}</td>
            </tr>
            <tr>
                <th>Rentada</th>
                <td>{{ entity.rentada }}</td>
            </tr>
            <tr>
                <th>Compartida</th>
                <td>{{ entity.compartida }}</td>
            </tr>
            <tr>
                <th>Buena</th>
                <td>{{ entity.buena }}</td>
            </tr>
            <tr>
                <th>Regular</th>
                <td>{{ entity.regular }}</td>
            </tr>
            <tr>
                <th>Mala</th>
                <td>{{ entity.mala }}</td>
            </tr>
            <tr>
                <th>Valordecasa</th>
                <td>{{ entity.valorDeCasa }}</td>
            </tr>
            <tr>
                <th>Sala</th>
                <td>{{ entity.sala }}</td>
            </tr>
            <tr>
                <th>Comedor</th>
                <td>{{ entity.comedor }}</td>
            </tr>
            <tr>
                <th>Cocina</th>
                <td>{{ entity.cocina }}</td>
            </tr>
            <tr>
                <th>Recamaras</th>
                <td>{{ entity.recamaras }}</td>
            </tr>
            <tr>
                <th>Banos</th>
                <td>{{ entity.banos }}</td>
            </tr>
            <tr>
                <th>Cuartoservicio</th>
                <td>{{ entity.cuartoServicio }}</td>
            </tr>
            <tr>
                <th>Estudio</th>
                <td>{{ entity.estudio }}</td>
            </tr>
            <tr>
                <th>Biblioteca</th>
                <td>{{ entity.biblioteca }}</td>
            </tr>
            <tr>
                <th>Garaje</th>
                <td>{{ entity.garaje }}</td>
            </tr>
            <tr>
                <th>Jardin</th>
                <td>{{ entity.jardin }}</td>
            </tr>
            <tr>
                <th>Mobiliario</th>
                <td>{{ entity.mobiliario }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td>{{ entity.imagen }}</td>
            </tr>
            <tr>
                <th>Aspecto</th>
                <td>{{ entity.aspecto }}</td>
            </tr>
            <tr>
                <th>Orden</th>
                <td>{{ entity.orden }}</td>
            </tr>
            <tr>
                <th>Teatroencasa</th>
                <td>{{ entity.teatroEnCasa }}</td>
            </tr>
            <tr>
                <th>Televisioncolor</th>
                <td>{{ entity.televisionColor }}</td>
            </tr>
            <tr>
                <th>Dvd</th>
                <td>{{ entity.dvd }}</td>
            </tr>
            <tr>
                <th>Estereo</th>
                <td>{{ entity.estereo }}</td>
            </tr>
            <tr>
                <th>Radio</th>
                <td>{{ entity.radio }}</td>
            </tr>
            <tr>
                <th>Computadora</th>
                <td>{{ entity.computadora }}</td>
            </tr>
            <tr>
                <th>Impresora</th>
                <td>{{ entity.impresora }}</td>
            </tr>
            <tr>
                <th>Otros</th>
                <td>{{ entity.otros }}</td>
            </tr>
            <tr>
                <th>Refrigerador</th>
                <td>{{ entity.refrigerador }}</td>
            </tr>
            <tr>
                <th>Lavavajilla</th>
                <td>{{ entity.lavaVajilla }}</td>
            </tr>
            <tr>
                <th>Lavadora</th>
                <td>{{ entity.lavadora }}</td>
            </tr>
            <tr>
                <th>Secadora</th>
                <td>{{ entity.secadora }}</td>
            </tr>
            <tr>
                <th>Licuadora</th>
                <td>{{ entity.licuadora }}</td>
            </tr>
            <tr>
                <th>Freidora</th>
                <td>{{ entity.freidora }}</td>
            </tr>
            <tr>
                <th>Horneador</th>
                <td>{{ entity.horneador }}</td>
            </tr>
            <tr>
                <th>Hornomicroondas</th>
                <td>{{ entity.hornoMicroondas }}</td>
            </tr>
            <tr>
                <th>Aspiradora</th>
                <td>{{ entity.aspiradora }}</td>
            </tr>
            <tr>
                <th>Estufa</th>
                <td>{{ entity.estufa }}</td>
            </tr>
            <tr>
                <th>Pulidora</th>
                <td>{{ entity.pulidora }}</td>
            </tr>
            <tr>
                <th>Batidora</th>
                <td>{{ entity.batidora }}</td>
            </tr>
            <tr>
                <th>Waflera</th>
                <td>{{ entity.waflera }}</td>
            </tr>
            <tr>
                <th>Tostador</th>
                <td>{{ entity.tostador }}</td>
            </tr>
            <tr>
                <th>Sandwichera</th>
                <td>{{ entity.sandwichera }}</td>
            </tr>
            <tr>
                <th>Extractorjugo</th>
                <td>{{ entity.extractorJugo }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ entity.observaciones }}</td>
            </tr>
        </tbody>
    </table>

        <a  href="{{ path('Bienes') }}" class="btn btn-warning">Regresar</a>
        <a href="{{ path('Bienes_edit', { 'id': entity.id }) }}" class="btn btn-success">Editar</a>
    {{ form(delete_form) }}
{% endblock %}
