{% extends '::base.html.twig' %}

{% block body -%}
    <h1 class=""><strong>Resumen Ejecutivo</strong> >  Hoja 4</h1>

    {{ form_start(form) }}
    BIENES RAICES
        {{ form_widget(form.hoja4_1) }}
    AUTOMOVILES
        {{ form_widget(form.hoja4_2) }}
    {{ form_end(form) }}

	<a href="{{path('hoja5')}}" class="btn btn-primary pull-right">
	<i class="fa fa-arrow-circle-right  fa-lg"></i> Siguiente
	</a>
	<a href="{{path('hoja3')}}" class="btn btn-primary pull-left">
	<i class="fa fa-arrow-circle-right  fa-lg"></i> Anterior
	</a>
{% endblock %}
