{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Hoja7_4</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Proyectos</th>
                <td>{{ entity.proyectos }}</td>
            </tr>
            <tr>
                <th>Interestrabajo</th>
                <td>{{ entity.interesTrabajo }}</td>
            </tr>
            <tr>
                <th>Trabajosatisfactorio</th>
                <td>{{ entity.trabajoSatisfactorio }}</td>
            </tr>
            <tr>
                <th>Tiempolibre</th>
                <td>{{ entity.tiempoLibre }}</td>
            </tr>
            <tr>
                <th>Musica</th>
                <td>{{ entity.musica }}</td>
            </tr>
            <tr>
                <th>Lee</th>
                <td>{{ entity.lee }}</td>
            </tr>
            <tr>
                <th>Generolectura</th>
                <td>{{ entity.generoLectura }}</td>
            </tr>
            <tr>
                <th>Autorfavorito</th>
                <td>{{ entity.autorFavorito }}</td>
            </tr>
            <tr>
                <th>Asistenciaeventos</th>
                <td>{{ entity.asistenciaEventos }}</td>
            </tr>
            <tr>
                <th>Tipoeventos</th>
                <td>{{ entity.tipoEventos }}</td>
            </tr>
            <tr>
                <th>Asistenciareuniones</th>
                <td>{{ entity.asistenciaReuniones }}</td>
            </tr>
            <tr>
                <th>Tiporeuniones</th>
                <td>{{ entity.tipoReuniones }}</td>
            </tr>
        </tbody>
    </table>

        <a  href="{{ path('hoja7_4') }}" class="btn btn-warning">Regresar</a>
        <a href="{{ path('hoja7_4_edit', { 'id': entity.id }) }}" class="btn btn-success">Editar</a>
    {{ form(delete_form) }}
{% endblock %}
