{% extends '::base.html.twig' %}

{% block body -%}
<script src="{{asset('js/calendar.js')}}"></script>
<script src="{{asset('js/calendar-en.js')}}"></script>

    <h1 class=""><strong>Resumen Ejecutivo</strong> >  Hoja 2</h1>

    {{ form_start(form) }}
    	


    {{ form_end(form) }}
    <a href="{{path('hoja3')}}" class="btn btn-primary pull-right">
	<i class="fa fa-arrow-circle-right  fa-lg"></i> Siguiente
	</a>
	<a href="{{path('hoja1')}}" class="btn btn-primary pull-left">
	<i class="fa fa-arrow-circle-right  fa-lg"></i> Anterior
	</a>
<script>
  $(document).ready(function() {
    $('#hojabundle_hoja2_fechaNacimiento').datepicker({
      minDate: new Date()
    })
  });
</script>

{% endblock %}
