{% extends '::base.html.twig' %}
{% block placeholder -%}
<div class="row">
    <div class="col-lg-12">
        
        <div class="clearfix">
            <h1 class="pull-left">Agregar cliente</h1>
           
        </div>
    </div>
</div>
{% endblock -%}
{% block body -%}
<div class="row">
<div class="col-lg-12">
<div class="main-box no-header clearfix">
<div class="main-box-body clearfix">
<h1 class="text-center"><strong>Marco Familiar </strong></h1>

{{ form_start(form) }}
<div class="col-md-12 main-box no-header clearfix">
<div class="row">
    <h4 class="col-md-12">ESPOSA (Y/O) HIJOS, PADRES Y HERMANOS</h4> 
    <div  id="FamiliaresCercanos" data-prototype="{{ form_widget(form.FamiliaresCercanos.vars.prototype) | e }}" >
    <a href="#" class="col-md-4 col-md-offset-4 btn btn-info pull-left" id="add-MarcoFamiliar">Agregar </a>
        {% for FamiliarCercano in form.FamiliaresCercanos %}
	        <div class="col-md-12">
	            {{ form_errors(FamiliarCercano) }}
	            {{ form_widget(FamiliarCercano) }}
	        </div> 
        {% endfor %}
    </div>     
</div>       
<div class="row">    
    <h4 class="col-md-12">PERSONAS QUE VIVEN EN EL DOMICILIO</h4>   
    <a href="#" class="col-md-4 col-md-offset-4 btn btn-info pull-left" id="add-MarcoFamiliar3">Agregar</a>
    <div  id="Familiares" data-prototype="{{ form_widget(form.Familiares.vars.prototype) | e }}">
        {% for Familiar in form.Familiares %}
        <div class="col-md-12">
            {{ form_errors(Familiar) }}
            {{ form_widget(Familiar) }}
        </div> 
        {% endfor %}
    </div> 
</div>       
<div class="row">     
    <h4 class="col-md-12">DEPENDIENTES ECONOMICOS </h4>
    <a href="#" class="col-md-4 col-md-offset-4 btn btn-info pull-left" id="add-MarcoFamiliar2">Agregar</a>
    <div  id="DependientesEconomicos" data-prototype="{{ form_widget(form.DependientesEconomicos.vars.prototype) | e }}">
        {% for DependienteEconomico in form.DependientesEconomicos %}
        <div class="col-md-12">
            {{ form_errors(DependienteEconomico) }}
            {{ form_widget(DependienteEconomico) }}
        </div> 
        {% endfor %}
    </div>    
</div>       
<div class="col-md-12" form-group ="">
      <div class="input-group">
        <span class="input-group-btn"><label for="" class="btn btn-primary required">observaciones</label>
        </span>
        {{form_widget(form.observaciones,{'attr':{'class':'form-control'}})}}

    </div>
    <span class="help-block"><i class="icon-remove-sign"></i></span>
</div>
</div>
{{ form_end(form) }}
 </div>
</div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
$('.oculto').hide()
    // realiza un seguimiento de cuántos campos de correo electrónico se han pintado
    


    jQuery(document).ready(function() {
    	var emailCount = '{{ form.Familiares | length }}';
	    var emailCount2 = '{{ form.DependientesEconomicos | length }}';
	    var emailCount3 = '{{ form.FamiliaresCercanos | length }}';

        jQuery('#add-MarcoFamiliar3').click(function() {
            var emailList = jQuery('#Familiares');

            // graba la plantilla prototipo
            var newWidget = emailList.attr('data-prototype');
            // sustituye el "__name__" usado en el id y name del prototipo con un
            // número que es único en tus correos termina con el
            // atributo name viéndose como name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, emailCount);
            emailCount++;
            // crea un nuevo elemento lista y lo añade a la lista
            var newLi = jQuery('<div class="row"></div>').html(newWidget);
            newLi.appendTo(jQuery('#Familiares'));

            return false;
        });
        jQuery('#add-MarcoFamiliar2').click(function() {
            var emailList1 = jQuery('#DependientesEconomicos');
            var newWidget1 = emailList1.attr('data-prototype');
            newWidget1 = newWidget1.replace(/__name__/g, emailCount2);
            emailCount2++;
            var newLi1 = jQuery('<div class="row"></div>').html(newWidget1);
            newLi1.appendTo(jQuery('#DependientesEconomicos'));

            return false;
        });


        jQuery('#add-MarcoFamiliar').click(function() {
            var emailList2 = jQuery('#FamiliaresCercanos');

            // graba la plantilla prototipo
            var newWidget2 = emailList2.attr('data-prototype');
            // sustituye el "__name__" usado en el id y name del prototipo con un
            // número que es único en tus correos termina con el
            // atributo name viéndose como name="contact[emails][2]"
            alert(emailCount3);
            newWidget2 = newWidget2.replace(/__name__/g, emailCount3);
            emailCount3++;
            // crea un nuevo elemento lista y lo añade a la lista
            var newLi2 = jQuery('<div class="row"></div>').html(newWidget2);
            newLi2.appendTo(jQuery('#FamiliaresCercanos'));

            return false;
        });    



    })
</script>
{% endblock %}