{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Hoja2 list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Domicilio</th>
                <th>Colonia</th>
                <th>Municipio</th>
                <th>Cp</th>
                <th>Entrecalle1</th>
                <th>Entrecalle2</th>
                <th>Ciudad</th>
                <th>Estado</th>
                <th>Antiguedadvivienda</th>
                <th>Antiguedadciudad</th>
                <th>Telefonolocal</th>
                <th>Celular</th>
                <th>Lugarnacimiento</th>
                <th>Fechanacimiento</th>
                <th>Nacionalidad</th>
                <th>Edad</th>
                <th>Estadocivil</th>
                <th>Ocupacion</th>
                <th>Actanacimiento</th>
                <th>Curp</th>
                <th>Actamatrimonio</th>
                <th>Cartillamilitar</th>
                <th>Comprobanteestudios</th>
                <th>Licencia</th>
                <th>Comprobantedomicilio</th>
                <th>Cartarecomendacion1</th>
                <th>Cartarecomendacion2</th>
                <th>Cartarecomendacion3</th>
                <th>Credencialelector</th>
                <th>Segurosocial</th>
                <th>Primaria</th>
                <th>De</th>
                <th>A</th>
                <th>Comprobante</th>
                <th>Entidadprimaria</th>
                <th>Secundaria</th>
                <th>Desecundaria</th>
                <th>Asecundaria</th>
                <th>Comprobantesecundaria</th>
                <th>Entidadsecundaria</th>
                <th>Preparatoria</th>
                <th>Depreparatoria</th>
                <th>Apreparatoria</th>
                <th>Comprobantepreparatoria</th>
                <th>Entidadpreparatoria</th>
                <th>Profesional</th>
                <th>Deprofesional</th>
                <th>Aprofesional</th>
                <th>Comprobanteprofesional</th>
                <th>Idiomas</th>
                <th>Porcentajehabla</th>
                <th>Porcentajeescribe</th>
                <th>Porcentajelee</th>
                <th>Observaciones</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('hoja2_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.domicilio }}</td>
                <td>{{ entity.colonia }}</td>
                <td>{{ entity.municipio }}</td>
                <td>{{ entity.cp }}</td>
                <td>{{ entity.entrecalle1 }}</td>
                <td>{{ entity.entrecalle2 }}</td>
                <td>{{ entity.ciudad }}</td>
                <td>{{ entity.estado }}</td>
                <td>{{ entity.antiguedadVivienda }}</td>
                <td>{{ entity.antiguedadCiudad }}</td>
                <td>{{ entity.telefonoLocal }}</td>
                <td>{{ entity.celular }}</td>
                <td>{{ entity.lugarNacimiento }}</td>
                <td>{% if entity.fechaNacimiento %}{{ entity.fechaNacimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.nacionalidad }}</td>
                <td>{{ entity.edad }}</td>
                <td>{{ entity.estadoCivil }}</td>
                <td>{{ entity.ocupacion }}</td>
                <td>{{ entity.actaNacimiento }}</td>
                <td>{{ entity.curp }}</td>
                <td>{{ entity.actaMatrimonio }}</td>
                <td>{{ entity.cartillaMilitar }}</td>
                <td>{{ entity.comprobanteEstudios }}</td>
                <td>{{ entity.licencia }}</td>
                <td>{{ entity.comprobanteDomicilio }}</td>
                <td>{{ entity.cartaRecomendacion1 }}</td>
                <td>{{ entity.cartaRecomendacion2 }}</td>
                <td>{{ entity.cartaRecomendacion3 }}</td>
                <td>{{ entity.credencialElector }}</td>
                <td>{{ entity.seguroSocial }}</td>
                <td>{{ entity.primaria }}</td>
                <td>{% if entity.de %}{{ entity.de|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.a %}{{ entity.a|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.comprobante }}</td>
                <td>{{ entity.entidadPrimaria }}</td>
                <td>{{ entity.secundaria }}</td>
                <td>{% if entity.deSecundaria %}{{ entity.deSecundaria|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.aSecundaria %}{{ entity.aSecundaria|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.comprobanteSecundaria }}</td>
                <td>{{ entity.entidadSecundaria }}</td>
                <td>{{ entity.preparatoria }}</td>
                <td>{% if entity.dePreparatoria %}{{ entity.dePreparatoria|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.aPreparatoria %}{{ entity.aPreparatoria|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.comprobantePreparatoria }}</td>
                <td>{{ entity.entidadPreparatoria }}</td>
                <td>{{ entity.profesional }}</td>
                <td>{% if entity.deProfesional %}{{ entity.deProfesional|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.aProfesional %}{{ entity.aProfesional|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.comprobanteProfesional }}</td>
                <td>{{ entity.idiomas }}</td>
                <td>{{ entity.porcentajeHabla }}</td>
                <td>{{ entity.porcentajeEscribe }}</td>
                <td>{{ entity.porcentajeLee }}</td>
                <td>{{ entity.observaciones }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('hoja2_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('hoja2_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('hoja2_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
