{% extends '::base.html.twig' %}

{% block body -%}
    <h1>DependientesEconomicos</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Edad</th>
                <td>{{ entity.edad }}</td>
            </tr>
            <tr>
                <th>Parentesco</th>
                <td>{{ entity.parentesco }}</td>
            </tr>
        </tbody>
    </table>

        <a  href="{{ path('dependienteseconomicos') }}" class="btn btn-warning">Regresar</a>
        <a href="{{ path('dependienteseconomicos_edit', { 'id': entity.id }) }}" class="btn btn-success">Editar</a>
    {{ form(delete_form) }}
{% endblock %}
