{% extends '::base.html.twig' %}

{% block body -%}
    <h1>saludHigiene</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Estadosalud</th>
                <td>{{ entity.estadoSalud }}</td>
            </tr>
            <tr>
                <th>Hospitalizaciones</th>
                <td>{{ entity.hospitalizaciones }}</td>
            </tr>
            <tr>
                <th>Razon</th>
                <td>{{ entity.razon }}</td>
            </tr>
            <tr>
                <th>Incapazidadesultimoempleo</th>
                <td>{{ entity.incapazidadesUltimoEmpleo }}</td>
            </tr>
            <tr>
                <th>Razonincapacidad</th>
                <td>{{ entity.razonIncapacidad }}</td>
            </tr>
            <tr>
                <th>Enfermedadcontagiosa</th>
                <td>{{ entity.enfermedadContagiosa }}</td>
            </tr>
            <tr>
                <th>Cual</th>
                <td>{{ entity.cual }}</td>
            </tr>
            <tr>
                <th>Enfermedadesultimoano</th>
                <td>{{ entity.enfermedadesUltimoAno }}</td>
            </tr>
            <tr>
                <th>Problemasvision</th>
                <td>{{ entity.problemasVision }}</td>
            </tr>
            <tr>
                <th>Cualproblemavision</th>
                <td>{{ entity.cualProblemaVision }}</td>
            </tr>
            <tr>
                <th>Hipertension</th>
                <td>{{ entity.hipertension }}</td>
            </tr>
            <tr>
                <th>Serviciomedico</th>
                <td>{{ entity.servicioMedico }}</td>
            </tr>
            <tr>
                <th>Estadosaludfamilia</th>
                <td>{{ entity.estadoSaludFamilia }}</td>
            </tr>
            <tr>
                <th>Consumedroga</th>
                <td>{{ entity.consumeDroga }}</td>
            </tr>
            <tr>
                <th>Frecuenciadroga</th>
                <td>{{ entity.frecuenciaDroga }}</td>
            </tr>
            <tr>
                <th>Consumecigarros</th>
                <td>{{ entity.consumeCigarros }}</td>
            </tr>
            <tr>
                <th>Frecuenciacigarros</th>
                <td>{{ entity.frecuenciaCigarros }}</td>
            </tr>
            <tr>
                <th>Ejercicio</th>
                <td>{{ entity.ejercicio }}</td>
            </tr>
            <tr>
                <th>Cualejercicio</th>
                <td>{{ entity.cualEjercicio }}</td>
            </tr>
            <tr>
                <th>Frecuenciaejercicio</th>
                <td>{{ entity.frecuenciaEjercicio }}</td>
            </tr>
        </tbody>
    </table>

        <a  href="{{ path('saludHigiene') }}" class="btn btn-warning">Regresar</a>
        <a href="{{ path('saludHigiene_edit', { 'id': entity.id }) }}" class="btn btn-success">Editar</a>
    {{ form(delete_form) }}
{% endblock %}
