{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Hoja3 list</h1>

    <h1>Dependientes</h1>

   
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Parentesco</th>
                <th>Observaciones</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('dependienteseconomicos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.edad }}</td>
                <td>{{ entity.parentesco }}</td>
                <td>{{ entity.observaciones }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('dependienteseconomicos_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('dependienteseconomicos_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h1>EsposaHijos list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Parentesco</th>
                <th>Estadocivil</th>
                <th>Escolaridad</th>
                <th>Ocupacion</th>
                <th>Salario</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entitiesEsposa %}
            <tr>
                <td><a href="{{ path('esposahijos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.edad }}</td>
                <td>{{ entity.parentesco }}</td>
                <td>{{ entity.estadoCivil }}</td>
                <td>{{ entity.escolaridad }}</td>
                <td>{{ entity.ocupacion }}</td>
                <td>{{ entity.salario }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('esposahijos_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('esposahijos_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     <h1>PadresHermanos list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Parentesco</th>
                <th>Estadocivil</th>
                <th>Escolaridad</th>
                <th>Ocupacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entitiesPadres %}
            <tr>
                <td><a href="{{ path('padreshermanos_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.edad }}</td>
                <td>{{ entity.parentesco }}</td>
                <td>{{ entity.estadoCivil }}</td>
                <td>{{ entity.escolaridad }}</td>
                <td>{{ entity.ocupacion }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('padreshermanos_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('padreshermanos_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     <h1>habitantesDomicilio list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Parentesco</th>
                <th>Estadocivil</th>
                <th>Escolaridad</th>
                <th>Ocupacion</th>
                <th>Salario</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entitiesHabitantes %}
            <tr>
                <td><a href="{{ path('habitantesdomicilio_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.edad }}</td>
                <td>{{ entity.parentesco }}</td>
                <td>{{ entity.estadoCivil }}</td>
                <td>{{ entity.escolaridad }}</td>
                <td>{{ entity.ocupacion }}</td>
                <td>{{ entity.salario }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('habitantesdomicilio_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('habitantesdomicilio_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <ul>
        <li>
            <a href="{{ path('hoja3_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
