{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Hoja3</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Domicilio</th>
                <td>{{ entity.domicilio }}</td>
            </tr>
            <tr>
                <th>Colonia</th>
                <td>{{ entity.colonia }}</td>
            </tr>
            <tr>
                <th>Municipio</th>
                <td>{{ entity.municipio }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ entity.cp }}</td>
            </tr>
            <tr>
                <th>Entrecalle1</th>
                <td>{{ entity.entrecalle1 }}</td>
            </tr>
            <tr>
                <th>Entrecalle2</th>
                <td>{{ entity.entrecalle2 }}</td>
            </tr>
            <tr>
                <th>Ciudad</th>
                <td>{{ entity.ciudad }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
            <tr>
                <th>Antiguedadvivienda</th>
                <td>{{ entity.antiguedadVivienda }}</td>
            </tr>
            <tr>
                <th>Antiguedadciudad</th>
                <td>{{ entity.antiguedadCiudad }}</td>
            </tr>
            <tr>
                <th>Telefonolocal</th>
                <td>{{ entity.telefonoLocal }}</td>
            </tr>
            <tr>
                <th>Celular</th>
                <td>{{ entity.celular }}</td>
            </tr>
            <tr>
                <th>Lugarnacimiento</th>
                <td>{{ entity.lugarNacimiento }}</td>
            </tr>
            <tr>
                <th>Fechanacimiento</th>
                <td>{{ entity.fechaNacimiento|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Nacionalidad</th>
                <td>{{ entity.nacionalidad }}</td>
            </tr>
            <tr>
                <th>Edad</th>
                <td>{{ entity.edad }}</td>
            </tr>
            <tr>
                <th>Estadocivil</th>
                <td>{{ entity.estadoCivil }}</td>
            </tr>
            <tr>
                <th>Ocupacion</th>
                <td>{{ entity.ocupacion }}</td>
            </tr>
            <tr>
                <th>Actanacimiento</th>
                <td>{{ entity.actaNacimiento }}</td>
            </tr>
            <tr>
                <th>Curp</th>
                <td>{{ entity.curp }}</td>
            </tr>
            <tr>
                <th>Actamatrimonio</th>
                <td>{{ entity.actaMatrimonio }}</td>
            </tr>
            <tr>
                <th>Cartillamilitar</th>
                <td>{{ entity.cartillaMilitar }}</td>
            </tr>
            <tr>
                <th>Comprobanteestudios</th>
                <td>{{ entity.comprobanteEstudios }}</td>
            </tr>
            <tr>
                <th>Licencia</th>
                <td>{{ entity.licencia }}</td>
            </tr>
            <tr>
                <th>Comprobantedomicilio</th>
                <td>{{ entity.comprobanteDomicilio }}</td>
            </tr>
            <tr>
                <th>Cartarecomendacion1</th>
                <td>{{ entity.cartaRecomendacion1 }}</td>
            </tr>
            <tr>
                <th>Cartarecomendacion2</th>
                <td>{{ entity.cartaRecomendacion2 }}</td>
            </tr>
            <tr>
                <th>Cartarecomendacion3</th>
                <td>{{ entity.cartaRecomendacion3 }}</td>
            </tr>
            <tr>
                <th>Credencialelector</th>
                <td>{{ entity.credencialElector }}</td>
            </tr>
            <tr>
                <th>Segurosocial</th>
                <td>{{ entity.seguroSocial }}</td>
            </tr>
            <tr>
                <th>Primaria</th>
                <td>{{ entity.primaria }}</td>
            </tr>
            <tr>
                <th>De</th>
                <td>{{ entity.de|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>A</th>
                <td>{{ entity.a|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Comprobante</th>
                <td>{{ entity.comprobante }}</td>
            </tr>
            <tr>
                <th>Entidadprimaria</th>
                <td>{{ entity.entidadPrimaria }}</td>
            </tr>
            <tr>
                <th>Secundaria</th>
                <td>{{ entity.secundaria }}</td>
            </tr>
            <tr>
                <th>Desecundaria</th>
                <td>{{ entity.deSecundaria|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Asecundaria</th>
                <td>{{ entity.aSecundaria|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Comprobantesecundaria</th>
                <td>{{ entity.comprobanteSecundaria }}</td>
            </tr>
            <tr>
                <th>Entidadsecundaria</th>
                <td>{{ entity.entidadSecundaria }}</td>
            </tr>
            <tr>
                <th>Preparatoria</th>
                <td>{{ entity.preparatoria }}</td>
            </tr>
            <tr>
                <th>Depreparatoria</th>
                <td>{{ entity.dePreparatoria|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Apreparatoria</th>
                <td>{{ entity.aPreparatoria|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Comprobantepreparatoria</th>
                <td>{{ entity.comprobantePreparatoria }}</td>
            </tr>
            <tr>
                <th>Entidadpreparatoria</th>
                <td>{{ entity.entidadPreparatoria }}</td>
            </tr>
            <tr>
                <th>Profesional</th>
                <td>{{ entity.profesional }}</td>
            </tr>
            <tr>
                <th>Deprofesional</th>
                <td>{{ entity.deProfesional|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Aprofesional</th>
                <td>{{ entity.aProfesional|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Comprobanteprofesional</th>
                <td>{{ entity.comprobanteProfesional }}</td>
            </tr>
            <tr>
                <th>Idiomas</th>
                <td>{{ entity.idiomas }}</td>
            </tr>
            <tr>
                <th>Porcentajehabla</th>
                <td>{{ entity.porcentajeHabla }}</td>
            </tr>
            <tr>
                <th>Porcentajeescribe</th>
                <td>{{ entity.porcentajeEscribe }}</td>
            </tr>
            <tr>
                <th>Porcentajelee</th>
                <td>{{ entity.porcentajeLee }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ entity.observaciones }}</td>
            </tr>
        </tbody>
    </table>

        <a  href="{{ path('hoja3') }}" class="btn btn-warning">Regresar</a>
        <a href="{{ path('hoja3_edit', { 'id': entity.id }) }}" class="btn btn-success">Editar</a>
    {{ form(delete_form) }}
{% endblock %}
