{% extends '::base.html.twig' %}
{% block placeholder -%}
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active"><span>Solicitudes</span></li>
        </ol>

    </div>
</div>
{% endblock -%}
{% block body -%}
<div class="row">
<div class="col-lg-12">
<div class="main-box no-header clearfix">
<div class="main-box-body clearfix">
<div class="table-responsive">
<table class="table user-list table-hover">
<thead>
            <tr>
                <th>Id</th>
                <th>Empresa</th>
                <th>Sucursal</th>
                <th>Domicilio</th>
                <th>Jefeinmediato</th>
                <th>Fechadeinicio</th>
                <th>Fechadetermino</th>
                <th>Puestoinicial</th>
                <th>Puestofinal</th>
                <th>Motivodesalida</th>
                <th>Datosproporcionadospor</th>
                <th>Puesto</th>
                <th>Telefono</th>
                <th>Estado</th>
                <th>Puestoo</th>
                <th>Sueldoinicial</th>
                <th>Sueldofinal</th>
                <th>Exelente</th>
                <th>Muybueno</th>
                <th>Bueno</th>
                <th>Regular</th>
                <th>Deficiente</th>
                <th>Asistenciaypuntualidad</th>
                <th>Responsabilidad</th>
                <th>Desempenio</th>
                <th>Relacionconjefesycom</th>
                <th>Trabajovajopresion</th>
                <th>Apegoapoliticas</th>
                <th>Desempenoproporcionado</th>
                <th>Observacionn</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('empleoanterior_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.empresa }}</td>
                <td>{{ entity.sucursal }}</td>
                <td>{{ entity.domicilio }}</td>
                <td>{{ entity.jefeInmediato }}</td>
                <td>{% if entity.fechaDeInicio %}{{ entity.fechaDeInicio|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaDeTermino %}{{ entity.fechaDeTermino|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.puestoInicial }}</td>
                <td>{{ entity.puestoFinal }}</td>
                <td>{{ entity.motivoDeSalida }}</td>
                <td>{{ entity.datosProporCionadosPor }}</td>
                <td>{{ entity.puesto }}</td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.estado }}</td>
                <td>{{ entity.puestoo }}</td>
                <td>{{ entity.sueldoInicial }}</td>
                <td>{{ entity.sueldoFinal }}</td>
                <td>{{ entity.exelente }}</td>
                <td>{{ entity.muyBueno }}</td>
                <td>{{ entity.bueno }}</td>
                <td>{{ entity.regular }}</td>
                <td>{{ entity.deficiente }}</td>
                <td>{{ entity.asistenciaYpuntualidad }}</td>
                <td>{{ entity.responsabilidad }}</td>
                <td>{{ entity.desempenio }}</td>
                <td>{{ entity.relacionConJefesYcom }}</td>
                <td>{{ entity.trabajoVajoPresion }}</td>
                <td>{{ entity.apegoApoliticas }}</td>
                <td>{{ entity.desempenoProporcionado }}</td>
                <td>{{ entity.observacionn }}</td>
                <td>
                <a  href="{{ path('empleoanterior_show', { 'id': entity.id }) }}" class="table-link">
	<span class="fa-stack">
	<i class="fa fa-square fa-stack-2x"></i>
	<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
	</span>
</a>
                    <a href="{{ path('empleoanterior_edit', { 'id': entity.id }) }}" class="table-link">
	<span class="fa-stack">
	<i class="fa fa-square fa-stack-2x"></i>
	<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
	</span>
</a>
                    </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('empleoanterior_new') }}"> agregar empleo anterior </a>
        </li>
    </ul>
    {% endblock %}
