{% extends'::base.html.twig' %}
{% block placeholder -%}
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active"><span>Solicitudes</span></li>
        </ol>
        {% if is_granted('ROLE_ADMIN') %}
        <div class="clearfix">
            <h1 class="pull-left">Solicitud</h1>
            <div class="pull-right top-page-ui">
                <a href="{{ path('solicitud_new')}}" class="btn btn-primary pull-right">
                    <i class="fa fa-plus-circle fa-lg"></i> Nueva Solicitud
                </a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock -%}
{% block body -%}
<div class="row">
<div class="col-lg-12">
<div class="main-box no-header clearfix">
<div class="main-box-body clearfix">
<div class="table-responsive">
<table class="table user-list table-hover">
<thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Cliente</th>
                <th>Direccion</th>
                <th>Telefonos</th>
                <th>Puesto</th>
                <th>Formato</th>
                <th>Fecha de visita</th>
                <th>Estatus</th>
                <th>Actions</th>
            </tr>
        </thead> 
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('solicitud_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.cliente }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.telefonos }}</td>
                <td>{{ entity.puesto }}</td>
                <td>{{ entity.formato }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                 <td></td>
                <td>
                <a  href="{{ path('solicitud_show', { 'id': entity.id }) }}" class="table-link">
	<span class="fa-stack">
	<i class="fa fa-square fa-stack-2x"></i>
	<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
	</span>
</a>
                    <a href="{{ path('solicitud_edit', { 'id': entity.id }) }}" class="table-link">
	<span class="fa-stack">
	<i class="fa fa-square fa-stack-2x"></i>
	<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
	</span>
</a>
                    </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
</div>
  
    {% endblock %}
{% block js %}
<script src="{{ asset('js/jquery.dataTables.js') }}"></script>
<script src="{{ asset('js/dataTables.fixedHeader.js') }}"></script>
<script src="{{ asset('js/dataTables.tableTools.js') }}"></script>
<script src="{{ asset('js/jquery.dataTables.bootstrap.js') }}"></script>
<script type="text/javascript">
$(document).ready(function() {
        var table = $('.table').dataTable();       
       
    });
</script>
{% endblock %}