{% extends '::base.html.twig' %}
{% block placeholder -%}
<div class="row">
    <div class="col-lg-12">
        
        <div class="clearfix">
            <h1 class="pull-left">Solicitud</h1>
            <div class="pull-right top-page-ui">
                <a href="{{ path('solicitud_new')}}" class="btn btn-primary pull-right">
                    <i class="fa fa-plus-circle fa-lg"></i> Nueva Solicitud
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock -%}
{% block body -%}
<div class="row">
<div class="col-lg-12">
<div class="main-box no-header clearfix">
<div class="main-box-body clearfix">
{{ form_start(form, {'attr': {'class': 'form_transaccion_edit'}}) }}	
	<div class="row">
        {{ form_row(form.nombre) }}
        {{ form_row(form.direccion) }}
        {{ form_row(form.telefonos) }}
        {{ form_row(form.puesto) }}
        {{ form_row(form.formato) }}
        <div class="col-lg-6" >
            <div class="form-group" >
                <div class="input-group">
                    <span class="input-group-btn">                        
                        <label class="btn btn-primary required" for="fourminds_bundle_configuracionbundle_cliente_razonSocial">Fecha de visita</label>
                    </span>
                        <div class="col-lg-12" >
                            <div class="col-lg-2" >
                                {{ form_widget(form.fechaVisitador.date.year,{'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-lg-2" >                            
                                {{ form_widget(form.fechaVisitador.date.month,{'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-lg-2" > 
                                {{ form_widget(form.fechaVisitador.date.day,{'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-lg-2" > 
                                {{ form_widget(form.fechaVisitador.time.hour,{'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-lg-2" >  
                                 {{ form_widget(form.fechaVisitador.time.minute,{'attr': {'class': 'form-control'}}) }}  
                            </div>
                        </div>            
                </div>
                <span class="help-block"><i class="icon-remove-sign"></i>{{ form_errors(form) }}</span>
            </div>
        </div>
	    {{ form_rest(form) }}
	</div>
	<div class="row">
	    	<button class="btn btn-success" type="submit">Guardar</button>	        
	        <a class="btn btn-warning" href="{{ path('solicitud') }}">Regresar</a>
	</div>
    {{ form_end(form) }}                     
 </div>
</div>
</div>
</div>      
{% endblock %}